* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2 {
    text-align: center;
    margin: 20px;
    z-index: 1500;
    text-shadow: 0 0 20px #1f6 ;
}
a {
    text-decoration: none;
    color: #f08;
}
.wrapper {
    min-height: 100vh;
    overflow: hidden;
}
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    background-color: #333; 
}
.board {
    position: absolute;
    padding: 15px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    overflow: hidden;
}
label {
    position: relative;
    width: 150px;
    height: 150px;
}
label input {
    appearance: none;
}
label .face {
    position: absolute;
    inset: 0;
    background-color: #444;
    border-radius: 50%;
    cursor: pointer;
    mix-blend-mode: lighten;
    transition: 0.5s;
}
label input:checked ~ .face {
    background-color: #f08;
    z-index: 1000;
    filter: drop-shadow(0 0 50px #f08);
}
label:nth-child(even) input:checked ~ .face {
    background-color: #1f6;
    z-index: 1000;
    filter: drop-shadow(0 0 50px #1f6);
}
label .face::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 25px;
    width: 40px;
    height: 40px;
    background-color: #111;
    opacity: 0.5;
    border-radius: 50%;
    box-shadow: 60px 0 0 #111
}
label .face::after {
    content: '';
    position: absolute;
    bottom: 30px;
    transform: translateX(-50%);
    left: 50%;
    width: 40px;
    height: 8px;
    background-color: #111;
    opacity: 0.5;
    border-radius: 50%;
    transition: 0.5s;
}
label input:checked ~ .face::after{
    width: 40px;
    height: 20px;
    border-radius: 0;
    border-radius: 0px 0px 20px 20px;
    transform: translateX(-50%) translateY(10px);

}